* {
  box-sizing: border-box;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  background: #141414;
  font-family: 'Press Start 2P', sans-serif;
  color: #33ff66;
}

main {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

pre {
  margin: 30px 0;
  font-size: 10px;
  font-family: 'Courier New', Monospace;
  white-space: pre;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  font-family: 'Press Start 2P', sans-serif;
  border: 1px solid #33ff66;
  color: #33ff66;
  background: transparent !important;
  padding: 16px;
  font-size: 16px;
  display: block;
  border-radius: 0;
  outline: none;
  line-height: 1;
}

option {
  color: black;
}

canvas {
  border: 4px solid #333;
}

p {
  margin: 30px 0;
  text-align: right;
}

h2 {
  margin: 30px 0;
  font-size: 16px;
}

small {
  font-size: 10px;
}

section {
  display: flex;
}

section div {
  margin: 0 15px;
}
